@media (max-width: 800px) {
  .header-box {
    padding: 30px;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .mobile-menu {
    display: none;
    background-color: #f1f1f1;
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  .mobile-menu li a {
    font-size: 18px;
  }

  .hero {
    height: 600px;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .hero-col-1 p {
    max-width: 400px;
    margin: 0 auto;
    color: lightgrey !important;
  }

  .hero-col-2 img {
    width: 100% !important;
  }

  .features {
    height: 750px;
  }

  .features-box {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1px;
  }

  .features-col-2 {
    display: flex;
    justify-content: center;
  }

  .features-col-1 {
    padding: 20px;
  }

  .features-col-2 img {
    width: 100%;
  }

  .footer-box {
    max-width: 450px;
    margin: 0 auto;
  }
}